.btn{
    width: 200px;
    height: 98px;
    color: #F1F1F1;
    background: #8A8889;
    border-radius: 25px;
}

section{
    padding: 30px;
    width: 70%;
}

.buttonday ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .buttonday li{
    text-align: center;
  }
  
  
  .btn:hover{
    background: #7E57C2;
  }

  .elementMenuBtn{
    color: yellow;
  }