@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background: #F1F1F1;
}

header {
  width: 100%;
  background: #C4C4C4;
}


.elementMenuBtn{
  color: yellow;
}


.buttonDelete, .btn-aside{
  background: #FF8B3E;
}


.menu-nav-row,.menu-ul-row,.content-row,.category-btn-row,.item-btn-row,.client-input,.footer-side{
  display: flex;
  flex-direction:row;
  width: 100%;
}
.menu-left-col,.menu-center-col,.button-content-col,.side-content-col,.menu-right-col,.btn-clear-col,
.btn-send-col,.footer-content{
  display:flex;
  flex-direction:column;
  width: 100%;
}
/* NAVBAR */
.menu-nav-row{
    align-self: flex-end;
    background-color: #C4C4C4;
    margin-bottom: 1%;
}

.menu-left-col{
  align-self: center;
  width: auto;
  flex-wrap: nowrap;
}

.menu-center-col{
  align-items: center;
}
.menu-right-col{
  width:5%;
}

.menu-ul-row{
  padding:0;
  margin:0;
  margin-top:3%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-ul-row li{
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  display: block;
  background-color: #8A8889;
  text-align: center;

}

.menu-ul-row li a:link{
  display: block;
  padding: 15px 10px 15px 10px;
  background-color: #8A8889;
  text-decoration: none;
  width: 100%;
  color:white;
}

.menu-ul-row li a:hover{
  background-color: #F1F1F1;
}

.menu-ul{
  flex:1;
  margin: 0px 20px;
}

.menu-icon{
  width: auto;
  height:5vh;
  margin-left: 20px;
}

/* /////// */

.button-content-col{
  width:60%;}

.side-content-col{
  width:40%;
  margin: 25px;
}
.footer-content{
  background-color: white;
}
.category-btn-row{
  padding:0;
  margin:0;
  margin-top:2%;
  padding-bottom: 6px;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom:2px solid #C4C4C4;
}
.item-btn-row{
  padding:0;
  margin:0;
  margin-top:2%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn,.item-btn{
  padding: 30px;
  color: #F1F1F1;
  background-color: #8A8889;
  border-radius: 25px;
  border-style:none;
  margin:10px;
  flex:1;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}

.btn:hover,.item-btn:hover{
  background: #7E57C2;
}


.item-btn{
  -webkit-box-shadow: 0px 2px 4px 1px rgba(68, 2, 82, 0.4);
  -moz-box-shadow: 0px 2px 4px 1px rgba(68, 2, 82, 0.4);
  box-shadow: 0px 2px 4px 1px rgba(68, 2, 82, 0.4);
  padding: 40px;
  background: #B085F5;
  margin-top: 3px;
  border-radius: 0%;
  text-align: left;
}

#lunch button{
  padding:20px;
}

.order-content, .client-input{
  width: 90%;
  align-self: center;
  text-align: right;
  border-bottom: 2px solid #C4C4C4;
}

.order-content p{
  background: #C4C4C4;
  padding: 10px;
}

.client-input{
  border:0px;
}
.client-input label{
  margin-right: 3px;
  margin-top: 10px;
}
.name-input{
  padding: 5px 0px 5px 0px;
  border-style: none;
  background-color: #C4C4C4;
  width: 70%;
  font-size: x-large;
  flex:1;
}
.name-input,.client-input,.line-order p,.btn-aside,.btn-aside-clear{
  font-family: 'Rubik', sans-serif;
}
.line-order p{
  text-align: center;
  color: #442681;
  font-weight: bold;
  font-size: 20px;
}

.btn-clear-col{
  width:40%;
}
.btn-send-col{
  width:60%;
  justify-items: flex-end;
}
.btn-aside,.btn-aside-clear{
  padding: 20px;
  font-weight: bold;
  margin:10px;
}

.btn-aside{
  color: white;
}

.btn-aside-clear{
  color: black;
  background: white;
}

.order-kitchen{
  background-color: aqua;
  margin: 10px;
}