body {
    margin: 0;
    font-family: sans-serif;
    background: #F1F1F1;
  }
  
  header {
    width: 100%;
    background: #C4C4C4;
  }
  
  .menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .menu li{
    text-align: center;
    flex-grow: 1;
    border-right: 1px solid #F1F1F1;
  }
  
  .menu li img{
    width: 130px;
    height: 80px;
    z-index: 1;
  }
  
  .menu li:hover{
    background: #F1F1F1;
  }
  
  .menu li a{
    display: block;
    padding: 15px 20px;
    color: #442681;
    text-decoration: none;
  }
  